h2{
    background: #221122;
    height: 500px;
    background:url(./images/bbb.jpg) 0 0 no-repeat;
    transform: rotate(30deg);
    opacity: 0.5;
    background-origin: border-box;
    background-clip: border-box;
    animation: run 2s ease 3s;
}
@keyframes run{
    0%{
        width: 800px;
    }
    50%{
        width: 500px;
    }
    100%{
        width: 1000px;
    }
}